* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --blue: #0084fd;
    --light-blue: #b5ddff;
    --purple: #9792e4;
    --dark: #000;
    --light: #ffffff;
    --light-dark: #333333;
    --yellow: #fdc15f;
    --gray: #63798c;
}

body {
    font-family: 'PT Sans', sans-serif;
}


a {
    text-decoration: none;
    color: var(--light);
}




.flex-box {
    display: flex;
}



.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--blue);
    padding: 1rem;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
}


.hamburger {
    width: 30px;
    height: 30px;
}


.hamburger span {
    width: 100%;
    background-color: var(--light);
    height: 4px;
    display: block;
    margin-bottom: 6px;
    border-radius: 2px;
}



.nav-menu {
    display: none;
}



.main-container {
    margin-top: 76px;
}



.section {
    width: 100%;
    padding: 3rem 2rem;
}




.card {
    width: 100%;
    max-width: 480px;
    background-color: var(--light-blue);
    border-radius: 20px;
    text-align: center;
    padding: 2.2rem 1.2rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}






.primary-card {
    padding-bottom: 0;
    padding-top: 0.5rem;
}



.primary-card-button {
    background-color: var(--blue);
    padding: 10px 50px;
    margin: 1.5rem 0;
    border-radius: 20px;
    display: inline-block;
}


.primary-card-image {
    width: 100%;
}


.primary-card-image img {
    max-width: 100%;
    display: block;
}


.card i {
    font-size: 3.5rem;
    color: var(--blue);
}



.card h3 {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 1.5rem 0;
    color: var(--blue);
    text-align: center;
}


.card p {
    font-weight: 700;
    color: var(--gray);
}



.primary-card h3 {
    text-align: left;
}

.primary-card i {
    font-size: 1rem;
    color: var(--light);
    margin-right: 0.5rem;
}


.primary-card p {
    text-align: start;
}



.background {
    background-color: var(--purple);
}





.planning-left h2 {
    font-size: 2rem;
    margin: 2rem 0;
    color: var(--light);
}


.planning-left p {
    color: var(--light);
    margin: 1.8rem 0;
}






.planning-image {
    width: 100%;
}


.planning-image img {
    max-width: 100%;
}



.planning-card {
    background-color: var(--light);
    border-radius: 40px;
    padding: 2.2rem 1rem;
    text-align: center;
}


.planning-card h3 {
    font-size: 1.6rem;
    margin: 1rem 0;
    text-align: center;
}



.down-arrow {
    width: 50px;
    height: 50px;
    background-color: var(--purple);
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 2rem;
}



.down-arrow i {
    line-height: 50px;
}



.testimonial-container {
    padding: 1.5rem 0;
}

.testimonial-box {
    text-align: center;
}


.testimonial-box h5 {
    font-size: 1.2rem;
    font-weight: 400;
}


.testimonial-box h2 {
    font-size: 2.2rem;
    margin: 1.8rem 0;
    color: var(--purple);
}



.testimonial-box p {
    font-size: 1.3rem;
}




.testimonial-card {
    background-color: var(--purple);
    color: var(--light);
    text-align: center;
    padding: 2rem 1rem;
    border-radius: 50px;
    margin: 2rem 0;
}



.testimonial-card p {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}


.testimonial-card-image {
    width: 220px;
    height: 220px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}



.testimonial-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.features-box h2 {
    color: var(--light);
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 4rem;
}


.features-card {
    background-color: var(--light);
    border-radius: 10px;
    padding: 2rem;
    margin: 1.5rem 0;
}



.features-card h2,
h3 {
    text-align: left;
    color: var(--purple);
    margin-bottom: 1rem;
}


.features-card h3 {
    font-size: 1.6rem;
}


.features-card p {
    color: var(--gray);
    margin: 1rem 0;
}



.features-button {
    background-color: var(--purple);
    display: inline-block;
    border-radius: 50px;
    padding: 0.6rem 3.5rem;
}





.about-section h2 {
    font-size: 2.2rem;
    color: var(--purple);
}



.about-section p {
    font-size: 1.2rem;
    margin: 1.5rem 0;
    line-height: 2.2rem;
}


.about-card {
    position: relative;
    max-width: 311px;
    padding: 1.5rem 0;
}



.mark {
    font-size: 12rem;
    color: var(--purple);
    position: absolute;
    top: -20px;
    right: 85px;
}


.about-card-image {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
}



.about-card-image img {
    width: 100%;
    height: 100%;
}



.about-card h3 {
    font-size: 1.6rem;
    margin: 1.5rem 0;
}


.about-card-button {
    display: inline-block;
    background-color: var(--purple);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    color: var(--light);
}


.about-card-button i {
    margin-right: 0.5rem;
}